AcceptPathInfo On
ServerSignature Off
ErrorDocument 403 /errors/errorpage.php?force=400
ErrorDocument 404 /errors/errorpage.php

Header add MyHeader "Hello SamyGO, it took %D microseconds \
for me to serve this request at %t %{Request_URI}e."

# some widgets fetchers...
<FilesMatch "^([0-9]+$)">
ForceType application/x-httpd-php
</FilesMatch>

# for some other middlemans
<FilesMatch ".*(\.asp|\.do|\.as|Servlet)">
ForceType application/x-httpd-php
</FilesMatch>

